In [2]:
import pandas as pd

# Загрузим csv таблицу в Pandas DataFrame

In [4]:
df_train = pd.read_csv('DATA.csv', delimiter=";")
print(df_train)

     STUDENT ID  1  2  3  4  5  6  7  8  9  ...  23  24  25  26  27  28  29  \
0      STUDENT1  2  2  3  3  1  2  2  1  1  ...   1   1   3   2   1   2   1
1      STUDENT2  2  2  3  3  1  2  2  1  1  ...   1   1   3   2   3   2   2
2      STUDENT3  2  2  2  3  2  2  2  2  4  ...   1   1   2   2   1   1   2
3      STUDENT4  1  1  1  3  1  2  1  2  1  ...   1   2   3   2   2   1   3
4      STUDENT5  2  2  1  3  2  2  1  3  1  ...   2   1   2   2   2   1   2
..          ... .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..
140  STUDENT141  2  1  2  3  1  1  2  1  1  ...   1   1   2   1   2   1   3
141  STUDENT142  1  1  2  4  2  2  2  1  4  ...   1   1   3   2   2   1   5
142  STUDENT143  1  1  1  4  2  2  2  1  1  ...   1   1   3   3   2   1   4
143  STUDENT144  2  1  2  4  1  1  1  5  2  ...   2   1   2   1   2   1   5
144  STUDENT145  1  1  1  5  2  2  2  3  1  ...   2   1   3   2   3   1   5

     30  COURSE ID  GRADE
0     1          1      1
1     3          1      1
2     2          1      1
3     2          1      1
4     2          1      1
..   ..        ...    ...
140   3          9      5
141   3          9      5
142   3          9      1
143   3          9      4
144   4          9      3

[145 rows x 33 columns]

In [ ]:
# TODO: Заполнить пустые ячейки мат. ожиданием по колонкам

In [8]:
from enum import Enum
class ColumnType(Enum):
    ABSOLUTE = 1
    ORDER = 2
    NAME = 3

columns_types_mapping = {
    1: ColumnType.ORDER, # Student Age (1: 18-21, 2: 22-25, 3: above 26)
    2: ColumnType.NAME, #Sex (1: female, 2: male)
    3: ColumnType.NAME, # Graduated high-school type: (1: private, 2: state, 3: other)
    4: ColumnType.ORDER, # Scholarship type: (1: None, 2: 25%, 3: 50%, 4: 75%, 5: Full)
    5: ColumnType.NAME, # Additional work: (1: Yes, 2: No)
    6: ColumnType.NAME, # Regular artistic or sports activity: (1: Yes, 2: No)
    7: ColumnType.NAME, # Do you have a partner: (1: Yes, 2: No)
    8: ColumnType.ORDER, # Total salary if available (1: USD 135-200, 2: USD 201-270, 3: USD 271-340, 4: USD 341-410, 5: above 410)
    9: ColumnType.NAME, # to the university: (1: Bus, 2: Private car/taxi, 3: bicycle, 4: Other)
    10: ColumnType.NAME, # Accommodation type in Cyprus: (1: rental, 2: dormitory, 3: with family, 4: Other)
    11: ColumnType.ORDER, # €™ education: (1: primary school, 2: secondary school, 3: high school, 4: university, 5: MSc., 6: Ph.D.)
    12: ColumnType.ORDER, # Fathersâ€™ education: (1: primary school, 2: secondary school, 3: high school, 4: university, 5: MSc., 6: Ph.D.)
    13: ColumnType.ABSOLUTE, # Number of sisters/brothers (if available): (1: 1, 2:, 2, 3: 3, 4: 4, 5: 5 or above)
    14: ColumnType.NAME, # Parental status: (1: married, 2: divorced, 3: died - one of them or both)
    15: ColumnType.NAME, # Mothersâ€™ occupation: (1: retired, 2: housewife, 3: government officer, 4: private sector employee, 5: self-employment, 6: other)
    16: ColumnType.NAME, # Fathersâ€™ occupation: (1: retired, 2: government officer, 3: private sector employee, 4: self-employment, 5: other)
    17: ColumnType.ORDER, # Weekly study hours: (1: None, 2: <5 hours, 3: 6-10 hours, 4: 11-20 hours, 5: more than 20 hours)
    18: ColumnType.ORDER, # Reading frequency (non-scientific books/journals): (1: None, 2: Sometimes, 3: Often)
    19: ColumnType.ORDER, # Reading frequency (scientific books/journals): (1: None, 2: Sometimes, 3: Often)
    20: ColumnType.NAME, # Attendance to the seminars/conferences related to the department: (1: Yes, 2: No)
    21: ColumnType.ORDER, # Impact of your projects/activities on your success: (1: positive, 2: negative, 3: neutral) (REORDER IS NEEDED)
    22: ColumnType.ORDER, # Attendance to classes (1: always, 2: sometimes, 3: never)
    23: ColumnType.NAME, # Preparation to midterm exams 1: (1: alone, 2: with friends, 3: not applicable)
    24: ColumnType.ORDER, # Preparation to midterm exams 2: (1: closest date to the exam, 2: regularly during the semester, 3: never) (?)
    25: ColumnType.ORDER, # Taking notes in classes: (1: never, 2: sometimes, 3: always)
    26: ColumnType.ORDER, # Listening in classes: (1: never, 2: sometimes, 3: always)
    27: ColumnType.ORDER, # Discussion improves my interest and success in the course: (1: never, 2: sometimes, 3: always)
    28: ColumnType.NAME, # Flip-classroom: (1: not useful, 2: useful, 3: not applicable)
    29: ColumnType.ORDER, # Cumulative grade point average in the last semester (/4.00): (1: <2.00, 2: 2.00-2.49, 3: 2.50-2.99, 4: 3.00-3.49, 5: above 3.49)
    30: ColumnType.ORDER, # Expected Cumulative grade point average in the graduation (/4.00): (1: <2.00, 2: 2.00-2.49, 3: 2.50-2.99, 4: 3.00-3.49, 5: above 3.49)
    "COURSE ID": ColumnType.NAME,
    "GRADE": ColumnType.ORDER # OUTPUT Grade (0: Fail, 1: DD, 2: DC, 3: CC, 4: CB, 5: BB, 6: BA, 7: AA)
}

In [9]:
# TODO: Написать функции, которые вычисляют расстояния между признаками

{1: <ColumnType.ORDER: 2>,
 2: <ColumnType.NAME: 3>,
 3: <ColumnType.NAME: 3>,
 4: <ColumnType.ORDER: 2>,
 5: <ColumnType.NAME: 3>,
 6: <ColumnType.NAME: 3>,
 7: <ColumnType.NAME: 3>,
 8: <ColumnType.ORDER: 2>,
 9: <ColumnType.NAME: 3>,
 10: <ColumnType.NAME: 3>,
 11: <ColumnType.ORDER: 2>,
 12: <ColumnType.ORDER: 2>,
 13: <ColumnType.ABSOLUTE: 1>,
 14: <ColumnType.NAME: 3>,
 15: <ColumnType.NAME: 3>,
 16: <ColumnType.NAME: 3>,
 17: <ColumnType.ORDER: 2>,
 18: <ColumnType.ORDER: 2>,
 19: <ColumnType.ORDER: 2>,
 20: <ColumnType.NAME: 3>,
 21: <ColumnType.ORDER: 2>,
 22: <ColumnType.ORDER: 2>,
 23: <ColumnType.NAME: 3>,
 24: <ColumnType.ORDER: 2>,
 25: <ColumnType.ORDER: 2>,
 26: <ColumnType.ORDER: 2>,
 27: <ColumnType.ORDER: 2>,
 28: <ColumnType.NAME: 3>,
 29: <ColumnType.ORDER: 2>,
 30: <ColumnType.ORDER: 2>,
 'COURSE ID': <ColumnType.NAME: 3>,
 'GRADE': <ColumnType.ORDER: 2>}